/* 상품상세 */
.content-top {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10.8rem;
    margin-top: 3.6rem;
}

.thumbnail-container {
    width: 100%;
    max-width: 58.2rem;
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.thumbnail-container .thumbnail_view {
    position: relative;
}

.thumbnail-swiper {
    width: 100%;
    overflow: hidden;
    border: 1px solid #f1f2f5;
    border-radius: 1rem;
}

.thumbnail-swiper::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    margin: -1px;
}

#itemDetailView .timedeal-timer {
    margin-bottom: 2rem;
}

#itemDetailView .content-top .item-tag .tag {
    margin-top: 0;
    margin-bottom: 1.9rem;
    margin-right: 0.6rem;
    font-size: 1.6rem;
    padding: 4px 12px;
}

/* 연관상품 */
.relationSwiper.swiper .swiper-button-disabled.swiper-button-prev,
.relationSwiper.swiper .swiper-button-disabled.swiper-button-next {
    opacity: 0.3;
}

.relationSwiper.swiper img {
    max-width: 40rem;
    max-height: 40rem;
}

.thumbnail-list-swiper.swiper {
    width: 100%;
    padding: 0 5rem;
    margin-top: 2rem;
    overflow: hidden;
}

.thumbnail-list-swiper.swiper .swiper-wrapper {
    z-index: 2;
}

.thumbnail-list-swiper.swiper .swiper-slide {
    cursor: pointer;
    height: auto;
    border-radius: 1rem;
    border: solid 1px var(--color-lightblue-bg);
    overflow: hidden;
}

.thumbnail-list-swiper.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
}

.thumbnail-list-swiper.swiper .swiper-slide:first-of-type {
    margin-left: -20.5rem;
}

.thumbnail-list-swiper.swiper .swiper-slide.swiper-slide-active {
    border: solid 1.5px var(--color-sub-pink-1);
}

.thumbnail-list-swiper.swiper .swiper-slide .item_thumbnail {
    width: 8.1rem;
    overflow: hidden;
}

.thumbnail-list-swiper.swiper .swiper-button-disabled.swiper-button-prev,
.thumbnail-list-swiper.swiper .swiper-button-disabled.swiper-button-next {
    opacity: 0.2;
}

.thumbnail-list-swiper.swiper {
    width: 100%;
}

.thumbnail-list-swiper.swiper  .swiper-button-next {
    background-image: url("~/assets/img/common/cate_arr_black.svg") !;
    right: 0;
}

.thumbnail-list-swiper.swiper .swiper-button-prev {
    background-image: url("~/assets/img/common/cate_arr_black.svg");
    transform: rotate(180deg);
    left: 0;
}

.thumbnail-list-swiper.swiper .swiper-button-next,
.thumbnail-list-swiper.swiper .swiper-button-prev {
    background-color: #fff;
    box-shadow: none;
    height: 100%;
    border-radius: 0;
    top: 0;
    background-size: 100% auto;
    margin: 0;
}

/* detail-info */

.detail-info {
    width: calc(100% - 58.2rem);
    margin-left: 3rem;
    display: inline-flex;
    flex-direction: column;
}
.detail-info .item-tag {
    margin-top: 0;
}

.detail-info .tit-area {
    padding-bottom: 3rem;
    border-bottom: 2px solid #000;
}

.detail-info .tit-area + .option-btn-wrap {
    margin-top: 3rem;
}

.select_wrap:last-child {
    margin-bottom: 0;
}

.select-wrap .drop-down_box {
    margin-bottom: 2rem;
}

.prd_num {
    background-color: #bebfba;
    height: 2.4rem;
    line-height: 2.4rem;
    display: inline-block;
    padding: 0 0.8rem;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 0.6rem;

    font-weight: 400;
}

.prd_num span {
    margin-left: 2px;
}

.btn_item_delete {
    width: 3rem;
    height: 3rem;
    background: url("~/assets/img/items/btn_delete.svg") no-repeat center center / 100% auto;
}

.price_wrap .op_price {
    font-size: var(--size-pc-pri);
}

.price_wrap .op_price span {
    font-size: 1.7rem;
    font-weight: 700;
}

/* 옵션 선택 스타일 */
/* 아이템 옵션 */
.option-type {
    margin-bottom: 1rem;
}

.option-txt {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #9e9e9e;
    margin-top: 3rem;
}

.option-text .form-line {
    margin-bottom: 1rem;
}

/* 드롭박스 */
.dropdown-box {
    width: 100%;
    position: relative;
    min-height: 5rem;
    margin-bottom: 1rem;
}

.dropdown-box .select-type1,
.dropdown-box .drop-tit {
    display: block;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    /* padding: 0 1.6rem; */
    padding: 0 3rem 0 1.6rem;
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
    word-spacing: -0.035rem;
    color: var(--color-font-04);
    font-size: 1.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    letter-spacing: -0.75px;
}

.dropdown-box .select-type1 {
    background: #fff url("~/assets/img/common/ico_arr_bottom_black.png") no-repeat calc(100% - 1rem) center / 3rem auto;
    border: 1px solid var(--color-lightblue-bg);
    border-radius: 5px;
}

.dropdown-box .option-drop {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 1;
    display: none;
    border-radius: 5px;
}

.dropdown-box .option-drop.on {
    position: relative;
    margin-top: -5rem;
    display: block;
}

.dropdown-box .option-drop .drop-tit,
.dropdown-box .option-drop .tit,
.dropdown-box .option-drop button {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: left;
    border: 0;
    padding-left: 1.6rem;
    font-size: 1.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    letter-spacing: -0.75px;
}

.dropdown-box .option-drop .tit {
    background-color: var(--color-lightblue-bg);
    border-top: 1px solid #000;
    border-bottom: 1px solid #e1e1e1;
    font-size: 1.5rem;
    color: #787878;
}

.dropdown-box .option-drop .option-btn {
    overflow-y: auto;
    max-height: 15rem;
    box-sizing: border-box;
    display: none;
}

.dropdown-box .option-drop .option-btn.on {
    display: block;
}

.dropdown-box .option-drop .drop-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 5rem;
    height: 5rem;
    padding: 2px 10px 0 10px;
    background: #fff url("~/assets/img/common/btn_delete.svg") no-repeat calc(100% - 1rem) center / 3rem auto;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 0;
}

.dropdown-box .form-button .btn-black {
    background-color: var(--color-lightblue-bg);
    color: #787878;
    border: 1px solid var(--color-lightblue-bg);
}

/* 옵션 리스트 */
.option-list {
    max-height: 33.5rem;
    overflow-y: auto;
    margin-top: 2rem;
}

.option-list-mobile {
    max-height: unset;
}

.option-list::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
}

.option-list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.option-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

.option-list li {
    padding: 2rem 0;
    border-bottom: 1px solid #e0e0e0;
}

.option-list li:first-child {
    padding-top: 0;
}

.option-list li:last-child {
    border-bottom: 0;
    padding-bottom: 3rem;
}

.option-list-mobile li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.option-list .wrap-tit {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-list .option-tit {
    width: calc(100% - 3rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Pretendard;
    font-size: 1.6rem;
    font-weight: 500;
}

.option-list .option-tit .prd-num {
    height: 2.4rem;
    display: inline-flex;
    align-items: center;
    padding: 0 0.8rem;
    box-sizing: border-box;
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.6rem;
    border-radius: 5px;
    background-color: var(--color-lightblue-bg);
    word-break: keep-all;
}

.option-list .option-tit .prd-name {
    font-weight: 600;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 2.4rem;
}

.option-list .btn-item-delete {
    width: 3rem;
    height: 3rem;
    background: url("~/assets/img/common/btn_delete.svg") no-repeat center center / 100% auto;
    cursor: pointer;
}

.option-list .prd-num span {
    margin-left: 2px;
    /* font-family: poppins; */
    font-weight: bold;
}

.option-list .option {
    font-size: 1.4rem;
    text-align: left;
    line-height: 1.43;
    margin: 0.6rem 0;
    color: #9e9e9e;
}

.option-list .option:last-child {
    margin-bottom: 0;
}

.option-list .price-wrap {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-list .option-price {
    font-size: 1.5rem;
}

.option-list .option-price span {
    /* font-family: Poppins; */
    font-size: 1.7rem;
    font-weight: 700;
}

/* 옵션 합계 */
.option-total {
    border-top: 1px solid #000;
    padding: 2rem 0;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-total > * {
    color: var(--color-etc-font);
    font-weight: 700;
}

.option-total .total {
    font-size: 1.8rem;
}

.option-total .total-count {
    font-size: var(--size-pc-sub-tit-02);
    font-weight: 400;
}

.option-total .total-count strong {
    font-size: var(--size-pc-sub-tit-01);
    font-weight: 700;
    /* font-family: Poppins; */
}

#itemDetailView .badge_tag_wrap {
    margin-bottom: 2.4rem;
}

.badge_tag {
    font-size: var(--size-pc-sub-txt);
}

.brand_mall {
    position: relative;
    display: flex;
    align-items: flex-start;
    min-height: 4.4rem;
    justify-content: space-between;
}

.brand_mall .brand {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-font-01);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.brand_mall .brand span:nth-child(2) {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background: url("~/assets/img/common/cate_arr_black.svg") no-repeat center / 100% auto;
}

.brand_mall .btn-sns,
.brand_mall .btn-heart {
    position: absolute;
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    margin-top: -0.6rem;
    position: absolute;
    right: 0;
}

.brand_mall .btn-sns {
    /* background-image: url("~/assets/img/items/ico_share2.png"); */
    background-image: url("~/assets/img/items/ico_share.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 1rem;
}

.brand_mall .btn-heart {
    background-image: url("~/assets/img/items/ico_heart_line2.png") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 4.6rem;
}

.brand_mall .btn-heart.active {
    background-image: url("~/assets/img/items/ico_heart_line2_active.png") !important;
}

.brand_mall .btn_share {
    width: 2.6rem;
    height: 2.6rem;
}

/* quoteContactModal */
.quoteContactModal .basic-info p {
    font-size: 1.4rem;
    color: #9e9e9e;
    margin-bottom: 1rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.quoteContactModal .basic-info p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
}

.quoteContactModal .basic-info p:nth-child(3) {
    margin-bottom: 2rem;
}

/* .btn-now-top td {
    position: relative;
}
.btn-now-top td span:nth-child(1){
    width: calc(100% - 27rem);
}
.btn-now-top td span:nth-child(2){
    width: 25.4rem;
    height: 6.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
} */

.btn-now-top {
    width: 25.4rem;
    height: 6.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}

#itemDetailView .product-title {
    pointer-events: none;
    /* 상품상세 링크 타기 막기 */
}

.product-title .title,
.detail-info .title2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.detail-info .title2{
    margin-top: 1rem;
}

.product-title .title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-font-01);
    margin-bottom: 1rem;
}

/* 브랜드 없을 때 위드값 조정*/

.brand_mall_txt {
    flex: 1;
}

.brand_mall_txt:not(.brand) .title {
    width: calc(100% - 8.2rem);
}

/* .product-title .title {
   width: calc(100% - 8.2rem );
}

.brand+.product-title .title {
    width: 100%;
} */
/*  */

.title2 {
    font-size: var(--size-pc-pri);
    color: var(--color-font-03);
    line-height: 1.4;
    margin-bottom: 3rem;
}

.product_each_code {
    line-height: 2.1rem;
    font-size: var(--size-pc-pri);
    color: var(--color-font-03);
    margin-bottom: 2.4rem;
}

.product_each_code span {
    color: var(--color-font-01);
    padding-left: 6.7rem;
}

/* 
price-area
*/

.price-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price-area .before {
    color: var(--color-font-03);
    font-size: var(--size-pc-main);
    margin-bottom: 3px;
    line-height: 1;
}

.price-area .before span {
    font-family: poppins;
    font-size: 1.8rem;
    text-decoration: line-through;
}

.price-area .price {
    font-size: var(--size-pc-sub-tit-02);
    color: var(--color-font-01);
    font-weight: 700;
}

.price-area .price span {
    /* font-family: poppins; */
    font-size: var(--size-pc-sub-tit-01);
    font-weight: 700;
    margin-right: 2px;
}

.price-area .sale {
    font-size: var(--size-pc-sub-tit-01);
    color: var(--color-main-pink);
    font-weight: bold;
}
.price-area .ttip_wrapper {
    margin-left: 1rem;
}

.tit-area .price-area .sale {
    margin-left: 1rem;
}

.price-area .sale span {
    font-size: inherit;
    /* font-family: poppins; */
    font-weight: bold;
}

.sale_area .price,
.sale_area .sale,
.sale_area .ttip_btn {
    display: flex;
    align-items: center;
    line-height: 3.4rem;
}

.price-group {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.price-area .coupon_down {
    width: 10.3rem;
    max-width: unset;
    height: 4rem;
    margin: 0;
    padding: 0 0 0 0.3rem;
    font-size: var(--size-pc-pri);
    border: none;
}

.btn_sns {
    width: 3.6rem;
    height: 3.6rem;
}

.detail-info .info_area {
    padding: 3rem 0;
    border-bottom: 1px solid var(--color-line-02);
    margin-bottom: 3rem;
}

.detail-info .info_area dl {
    margin: 0 0 1.8rem;
}

.detail-info .info_area dl:last-child {
    margin: 0;
}

.detail-info .info_area dt {
    display: inline-block;
    vertical-align: top;
    font-size: var(--size-pc-pri);
    color: var(--color-font-03);
    width: 12rem;
}

.detail-info .info_area dd {
    display: inline-block;
    vertical-align: top;
    font-size: var(--size-pc-pri);
    color: var(--color-font-01);
}

.detail-info .info_area dd p {
    font-weight: 500;
    line-height: 2.1rem;
}

.detail-info .info_area dd p b {
    /* font-family: Poppins; */
    font-weight: 500;
    line-height: 2.1rem;
}

.detail-info .info_area dd .product_status::before {
    position: relative;
    content: "";
    width: 1px;
    height: 1.2rem;
    display: inline-block;
    background: #eee;
    margin: 0 0.8rem;
}

.detail-info .info_area dd .delivery_else {
    font-size: 1.3rem;
    line-height: 1;
    text-decoration: underline;
    color: var(--color-font-03);
    cursor: pointer;
    margin-top: 6px;
    display: inline-block;
}

.txt_box {
    font-size: var(--size-pc-pri);
    color: var(--color-font-03);
    line-height: 1.4;
    margin-bottom: 1rem;
}

/* 
recommend_container
*/

.recommend_container {
    margin-bottom: 10rem;
}

.sub_tit {
    font-size: var(--size-pc-tit-01);
    line-height: 1;
    color: var(--color-etc-font);
    border-bottom: 0;
    margin-bottom: 2rem;
}

.sub_tit.sub_tit_sm {
    font-size: 2.5rem;
    display: inline-block;
    text-align: left;
}

.recommend_container .item-list.vert.swiper-slide {
    padding: 0;
}

/* item_tab */

.nav_tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_tabs .nav_item {
    flex: 1;
    text-align: center;
}

.nav_tabs .nav_item .nav_link {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 6.4rem;
    color: var(--color-font-03);
    font-size: var(--size-pc-main);
    font-weight: 400;
    cursor: pointer;
    font-family: pretendard-variable, sans-serif;
}

.nav_tabs .nav_item .nav_link span {
    font: inherit;
}

.nav_tabs .nav_item.active .nav_link {
    color: var(--color-font-01);
    font-weight: 700;
}

.nav_tabs .nav_item .nav_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-lightblue-bg);
}

.nav_tabs .nav_item.active .nav_link::after {
    background-color: var(--color-main-pink);
}

.tab_content {
    padding: 6rem 0 21rem;
}

.tab_content .photo_area {
    position: relative;
}

/* tab_content */
.contents_edit {
    position: relative;
}

.contents_edit .photo_area {
    height: 100rem;
    overflow: hidden;
    margin-bottom: 3.1rem;
    transition: height 1s ease-in;
}

.contents_edit.open .photo_area {
    height: auto;
}

.contents_edit .photo_area::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.contents_edit.open .photo_area::before {
    display: none;
}

.tab_content .photo_area img {
    border: 0;
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    transform: none;
    max-width: 100rem;
    margin: 0 auto;
}

.tab_content .view_more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, 50%);
}

/* 
product_info_table
*/

.product_info_table {
    width: 100%;
    margin-bottom: 10rem;
}

.product_info_table,
.product_info_table th,
.product_info_table td {
    border-collapse: collapse;
    border: 1px solid var(--color-lightblue-line);
    border-right: 0;
    border-left: 0;
}

.product_info_table tr {
    height: 5rem;
    font-size: var(--size-pc-pri);
}

.product_info_table th,
.product_info_table td {
    text-align: left;
    padding: 1.6rem 0 1.6rem 3rem;
    vertical-align: middle;
}

.product_info_table th {
    font-weight: 700;
    color: #000;
    background-color: var(--color-lightblue);
}

.product_info_table th.freeDe {
    text-align: center;
    padding: 0;
}

.product_info_table.freeDe td {
    border-left: 1px solid #eee;
}

.product_info_table td {
    color: #787878;
}

.product_info_table td span {
    display: inline-block;
    white-space: unset;
    word-break: break-all;
}

.drag_able {
    display: none;
    font-size: 0;
}

/*  */
#itemDetailView .sold_out_wrapper.pc {
    display: flex;
}

#itemDetailView .product_info_table {
    margin: 6rem 0;
}

#itemDetailView .freeDe.product_info_table {
    margin: -2rem 0 6rem 0;
    color: #787878;
}

#itemDetailView .review_list:not(:first-child) {
    margin: 12rem 0 0 0;
}

#itemDetailView .type02.review_list_tit {
    margin-bottom: 2rem;
}

#itemDetailView .item_detail_inner {
    margin-bottom: 11rem;
}

#itemDetailView .relationSwiper.swiper {
    width: 100%;
    overflow: visible;
}

.relationSwiper.swiper .swiper-wrapper {
    padding-top: 6rem;
    margin-bottom: 6.4rem;
}

.relationSwiper.swiper .swiper-button-prev,
.relationSwiper.swiper .swiper-button-next {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    background-size: 100%;
}

.relationSwiper.swiper .swiper-button-prev {
    top: 3.5rem;
    left: 0;
    background-image: url(~/assets/img/items/btn_swiper_prev.png) !important;
}

.relationSwiper.swiper .swiper-button-next {
    top: 3.5rem;
    left: 5.6rem;
    background-image: url(~/assets/img/items/btn_swiper_next.png) !important;
    background-color: none;
}

/* 
상품문의
*/
.tab_content .info_dot {
    margin-bottom: 1rem;
}

.tab_content .btn-wrap {
    margin-top: 3rem;
}

.tab_content #nav-info.tab_pane .tit_sm {
    font-size: 1.8rem;
}

.tab_content #nav-info.tab_pane .info_dot {
    font-size: 1.5rem;
}

/* 상품상세 option-btn-wrap 옵션버튼 하단바 */
.option-btn-wrap .btn {
    width: auto;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 700;
    height: 6.4rem;
}

.option-btn-wrap .option-btn-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.option-btn-wrap .option-btn-inner {
    margin-bottom: 1rem;
}

.option-btn-wrap .btn-heart {
    height: 6.4rem;
    min-width: 6.4rem;
}

.option-btn-wrap .btn-heart:hover {
    background-color: #fff;
}

.option-btn-wrap .btn {
    margin: 0 6px 0 0;
    border-color: #000;
}

.option-btn-wrap .btn:last-child {
    margin: 0;
    border: 0;
}

/* 모바일일 때 버튼 디자인 */
.fixed .option-btn-wrap {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    /* border-top: 1px solid var(--color-lightblue-bg); */
}

.fixed .option-btn-wrap .btn {
    border-radius: 0;
    border: none;
}

.fixed .option-btn-wrap .btn-cart {
    border-top: 1px solid var(--color-lightblue-bg);
}

.fixed .option-btn-wrap .btn-contact {
    border: none;
    border-left: 1px solid var(--color-lightblue-bg);
}

.fixed .option-btn-wrap .option-btn-inner {
    margin-bottom: 0;
}

/* 상품상세 .select-content.fixed */
.select-content.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3000;
    width: 100%;
}

.select-content.fixed .select-container {
    position: relative;
    box-shadow: 0 0 30px 3px rgb(0 0 0 / 20%);
}

.select-content.fixed .select-wrap {
    position: relative;
    z-index: 2;
    background-color: #fff;
    /* margin-bottom: 6.4rem; */
    margin-bottom: 13rem;
    padding: 0 2rem;
}

.select-content.fixed .select-inner {
    position: relative;
    z-index: 1;
    background-color: #fff;
    /* padding-top: 4.6rem; */
    padding-top: 1rem;
    height: auto;
    transition: height 1s ease;
    display: none;
}

.select-content.fixed.hide-select .select-inner {
    display: block;
}

.select-content.fixed .drag_able,
.select-content.fixed .drag_able.shadow {
    display: none;
}

.select-content.fixed.hide-select .drag_able,
.select-content.fixed.hide-select .drag_able.shadow {
    display: block;
}

.select-content.fixed .option-total {
    position: relative;
    width: 100vw;
    padding: 2rem 0;
    margin-top: 0;
    border: 0;
    background-color: #fff;

    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -2rem;
}

.select-content.fixed .option-total::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 0;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 10%);
    z-index: -1;
    margin-left: -2rem;
}

.select-content.fixed .option-list li:last-child {
    border: none;
}

.select-content.fixed.hide-select .drag_able {
    display: block;
    background: url("~/assets/img/items/items_dragable_close.png") no-repeat 0 0 / 100% auto;
    width: 9.2rem;
    height: 1.8rem;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform-origin: center bottom;
    transform: translate(-50%, 0);
    z-index: 0;
}

.select-content.fixed .drag_able {
    background: url("~/assets/img/items/items_dragable.png") no-repeat 0 0 / 100% auto;
}

.select-content.fixed .drag_able.shadow {
    box-shadow: 0 5px 20px 5px rgb(0 0 0 / 25%);
    z-index: -1;
    width: 5.2rem;
    height: 1.8rem;
}

.select-content.fixed .product-option-wrap {
    max-height: 40vh;
    margin-bottom: 0;
    padding: 2rem 0px 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #000;
    /* 개발 임시 삭제 -> 퍼블은 틀어짐 */
    /* border-bottom: 1px solid #000; */
}

.select-content.fixed .option-total {
    position: absolute;
    bottom: -6.6rem;
}

.select-content.fixed .option-list {
    max-height: unset;
}

.select-content.fixed .option-quantity {
    margin-top: 1rem;
}

/* 노트북 */
@media (max-width: 1023px) {
    #itemDetailView .relationSwiper {
        overflow: hidden;
    }

    #itemDetailView .relationSwiper .pc {
        display: none;
    }

    .thumbnail-list-swiper .swiper-slide:first-of-type {
        margin-left: -19.2rem;
    }

    .thumbnail-list-swiper .swiper-slide img {
        width: 100%;
        height: 100%;
    }
}

/* 태블릿 */
@media (min-width: 768px) {
    /* 하단 옵션바 */
    .select-container .product-title {
        display: none;
    }

    .drag_able {
        display: none;
    }
}

/* 태블릿 */
@media (max-width: 768px) {

    .thumbnail-swiper {
        border-radius: 0;
        border: 0;
    }

    #itemDetailView .content-top .item-tag .tag {
        width: 5.2rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        padding: 0;
        font-weight: 500;
    }

    .price-area .before span {
        font-family: poppins;
        font-size: 1.6rem;
        text-decoration: line-through;
    }

    .btn-now-top {
        display: none;
    }

    .quoteContactModal.modal textarea {
        height: calc(100vh - 40rem);
    }

    /* 개발 임시 -> 퍼블은 틀어짐 */
    .option-btn-wrap .option-btn-inner.ml-2 {
        margin-left: -2rem;
    }

    .option-btn-wrap .option-btn-inner.ml-2 .btn {
        margin: 0;
    }

    /* 개발 임시 -> 퍼블은 틀어짐 끝*/

    /* .option-btn-wrap  .option-btn-inner .btn-cart,
    .option-btn-wrap  .option-btn-inner .btn-buy {
        z-index: 10;
    } */

    #itemDetailView.inner {
        padding: 0 0 8rem;
    }

    #itemDetailView .category-navigation {
        display: none;
    }

    #itemDetailView .content-top .item-tag .tag {
        margin-bottom: 0.8rem;
    }

    .thumbnail-container .sold-out .sold-out-wrap {
        border-radius: 0;
        border: 0;
    }

    /* 임시 */
    .thumbnail-container > * {
        border-radius: 0;
    }

    .recommend_container {
        padding: 0 1.6rem;
        margin-bottom: 6rem;
    }

    .relationSwiper {
        width: 100%;
    }

    .relationSwiper.swiper .swiper-button-prev{
        left: 1.6rem;
    }
    .relationSwiper.swiper .swiper-button-next{
        left: 7.2rem;
    }

    .content-top {
        flex-direction: column;
        margin-bottom: 6rem;
        margin-top: 0;
    }

    .thumbnail-container {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        margin: 0 0 2.4rem;
    }

    .detail-info {
        width: 100%;
        padding: 0 1.6rem;
        margin: 0;
    }

    .item-price .coupon_down {
        width: 10rem;
    }

    .detail-info .info_area {
        border: 0;
    }

    .detail-info .info_area dl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .detail-info .info_area dl {
        margin: 0 0 1.6rem;
    }

    .detail-info .info_area dl:last-child {
        margin-bottom: 0;
    }

    .detail-info .info_area dt {
        width: 8rem;
        margin-right: 0;
    }

    .detail-info .info_area dd {
        flex: 1;
    }

    .product-title .title {
        font-size: 1.6rem;
    }

    .select-content.fixed .select-inner {
        margin-top: 0;
    }

    #itemDetailView .product-title {
        margin: 2rem 0;
    }

    /*  */
    /*  */
    /*  */
    /*  */
    /*  */

    .tab_content {
        padding: 0;
    }

    .tab_content .tab_pane {
        padding: 3rem 0 0;
    }

    .tab_content #nav-info.tab_pane h5,
    .tab_content #nav-info.tab_pane .sub_desc {
        padding: 0 1.6rem;
    }

    .tab_content #nav-info.tab_pane .tit_sm {
        font-size: 1.5rem;
    }

    .tab_content #nav-info.tab_pane .info_dot {
        font-size: 1.3rem;
    }

    .tab_content #nav-review {
        padding-top: 0;
    }

    .tab_content #nav-review .experience_list {
        padding: 3rem 1.6rem;
    }

    .nav_tabs .nav_item .nav_link {
        line-height: 4.8rem;
    }

    .contents_edit .photo_area {
        padding: 0 1.6rem;
        height: 50rem;
    }

    .tab_content .view_more {
        line-height: 5.4rem;
        height: 5.4rem;
    }

    .view_more span {
        background-size: 1.1rem auto;
    }

    .product_info_table th {
        font-weight: 700;
    }

    .product_info_table.freeDe th {
        font-weight: 500;
        padding: 0 1.6rem;
    }

    .product_info_table.freeDe td.freeDe {
        text-align: center;
    }

    .product_info_table th,
    .product_info_table td {
        padding: 1.6rem 1.4rem;
        word-break: keep-all;
    }

    .sub_tit.sub_tit_sm {
        padding: 0 1.6rem;
    }

    .product_info_desc {
        padding: 0 1.6rem;
    }

    .sub_tit.sub_tit_sm {
        font-size: 1.8rem;
        padding: 0;
    }

    .review_list {
        padding: 0 1.6rem;
    }

    #nav-review .review_list {
        padding: 3rem 1.6rem 0;
    }

    .sub_tit {
        font-size: 2.4rem;
    }

    /* 
    .input_check+.set-content .set-title span::after {
        background-image: url("~/assets/img/common/arr_select_black.svg");
    }

    .input_check:checked+.set-content .set-title span::after {
        background-image: url("~/assets/img/common/arr_select_black_up.svg");
    } */

    .item-price .quantity::before {
        padding: 0 0.6rem;
    }

    .prd_num {
        width: 5.4rem;
    }

    .price_ttip {
        width: calc(100vw - 3.2rem);
        top: 4.4rem;
    }

    .price_ttip .tit {
        text-align: center;
    }

    #nav-inquiry {
        width: 100%;
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }

    .tab_content .btn-wrap {
        margin-top: 4rem;
    }

    .tit-area .badge_item_wrap .badge_item {
        height: 2rem;
    }

    .tit-area .badge_cold,
    .tit-area .badge_ice {
        width: 5rem;
    }

    .tit-area .badge_quick,
    .tit-area .badge_delivery_company {
        width: 7.2rem;
    }

    .thumbnail-list-swiper {
        display: none;
    }

    #itemDetailView .product_info_table {
        margin: 8rem 0;
    }

    #itemDetailView .relationSwiper {
        scrollbar-width: thin transparent;
        scrollbar-color: rgba(0, 0, 0, 0.4);
    }

    #itemDetailView .relationSwiper::-webkit-scrollbar {
        height: 8px;
        background: transparent;
    }

    #itemDetailView .relationSwiper::-webkit-scrollbar-thumb {
        height: 8px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
    }

    #itemDetailView .amt_box + .txt_box,
    #itemDetailView .amt_box + .drop-down_box,
    #itemDetailView .amt_box + .option_list {
        margin-top: 2rem;
    }

    #itemDetailView .review_list:not(:first-child) {
        margin: 0;
    }
}
